<div *ngIf="userProfile" class="user-profile">
    <h2>{{ userProfile.firstName }} {{ userProfile.lastName }}</h2>
    <p>Gender: {{ userProfile.gender }}</p>
    <p>Joining Date: {{ userProfile.joiningDate }}</p>
    <p>Purpose: {{ userProfile.purpose }}</p>
    <p>Room Sharing: {{ userProfile.roomSharing }}</p>
    <p>Frequency: {{ userProfile.frequency }}</p>
    <p>User Type: {{ userProfile.userType }}</p>
    <p>Mobile Number: {{ userProfile.mobileNumber }}</p>
    <p>Alternative Mobile Number: {{ userProfile.alternativeMobileNumber }}</p>
    <p>Email: {{ userProfile.email }}</p>
    <p>ID Proof: {{ userProfile.idProof }}</p>
    <p>Status: {{ userProfile.status }}</p>
    <p>Paid Amount: {{ userProfile.paidAmount }}</p>
    <p>Pending Amount: {{ userProfile.pendingAmount }}</p>
    <p>Payment History: {{ userProfile.paymentHistory }}</p>
    <p>Room Number: {{ userProfile.roomNumber }}</p>
    <p>Advance Payment: {{ userProfile.advancePayment }}</p>
    <p>Hostel Name: {{ userProfile.hostelName }}</p>
  </div>
  