.container{
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.bg{
background-color:  #fffbf0ff;
}

h2{
  font-size: 1.5rem; 
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

label{
  font-size: 1rem; 
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

