// .form {
//     display: flex;
//     flex-direction: column;
//     max-width: 600px;
//     margin: 0 auto;
  
//     .category-label {
//       font-size: 1.5em;
//       margin-bottom: 0.5em;
//     }
  
//     .category-options {
//       display: flex;
//       flex-direction: column;
  
//       label {
//         margin-bottom: 0.5em;
//         display: flex;
//         align-items: center;
  
//         input {
//           margin-right: 0.5em;
//         }
//       }
//     }
  
//     button {
//       margin-top: 1em;
//       padding: 0.5em 1em;
//       border: none;
//       background-color: #007bff;
//       color: #fff;
//       border-radius: 4px;
//       cursor: pointer;
  
//       &:hover {
//         background-color: #0056b3;
//       }
//     }
  
//     .title {
//       font-size: 1.5em;
//       margin-bottom: 0.5em;
//     }
//   }
  
.container {
  width: 100%;
  background-color: #fffbf0ff; /* Set the background color */
  padding: 2em; /* Add some padding around the form */
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 1em; /* Add some padding to make it look nicer */
  border-radius: 8px; /* Optional: Add rounded corners */

  .category-label {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .category-options {
    display: flex;
    flex-wrap: wrap;

    label {
      width: 33.33%; /* Make sure three labels fit per row */
      margin-bottom: 0.5em;
      display: flex;
      align-items: center;

      input {
        margin-right: 0.5em;
      }
    }
  }

  .title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
}

