<div class="container">
  
  <form [formGroup]="expenseForm" class="form">
    <div class="text-center fs-3 text-uppercase fw-bold mb-4">Expense Form</div>
    <div>
      <label class="category-label">Select Category</label>
      <div class="category-options">
        <label *ngFor="let category of categories">
          <input type="radio" formControlName="category" [value]="category.value" required>
          {{ category.label }}
        </label>
      </div>
    </div>

    
    <app-grocery-form *ngIf="selectedCategory === 'grocery' || selectedCategory === 'gas' || selectedCategory === 'petrol'" [selectedCategory]="selectedCategory"></app-grocery-form>
    <app-monthly-rent-form *ngIf="selectedCategory === 'monthly-rent'"></app-monthly-rent-form>
    <app-power-bill-form *ngIf="selectedCategory === 'power-bill'"></app-power-bill-form>
    <app-employee-salaries *ngIf="selectedCategory === 'employee-salaries'"></app-employee-salaries>

   
    <div class="row mt-3 justify-content-center">
      <div class="col-auto">
        <button type="button" class="btn btn-primary w-100 custom-button" (click)="onSubmit()">Submit</button>
      </div>
      <div class="col-auto">
        <button type="reset" class="btn btn-secondary w-100 custom-button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>


