.table {
    border-collapse: separate;
    border-spacing: 0;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-responsive {
    overflow-x: auto;
}

// .bg-success-subtle {
//     height: 100vh;
//     padding: 20px;
//   }

h3{
    font-size: 1.5rem; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
  }

  label, select, th, td{
    font-size: 1rem; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }