<div class="container p-5 mb-0 d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="container p-5" id="payment-history-container">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="my-3">Payment History</h3>
        <div class="d-flex align-items-center">
          <label for="statusFilter" class="form-label mb-0 me-2 fw-bold">Filter by Status:</label>
          <select id="statusFilter" class="form-select w-auto" [(ngModel)]="selectedStatus"
            (change)="filterPaymentHistory()">
            <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
          </select>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped rounded">
          <thead class="table-bordered">
            <tr>
              <th class="bg-warning">Date</th>
              <th class="bg-warning">Amount</th>
              <th class="bg-warning">Status</th>
            </tr>
          </thead>
          <tbody class="table-bordered">
            <tr *ngFor="let payment of filteredPaymentHistory">
              <td>{{ payment.date }}</td>
              <td>{{ payment.amount | currency: 'INR' }}</td>
              <td>{{ payment.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="d-flex justify-content-end mx-3">
      <button class="btn btn-primary" (click)="downloadPDF()"><i
          class="fa-solid fa-file-invoice"></i>&nbsp;&nbsp;Download
        Payment History</button>
    </div>
  </div>
</div>



<!-- <div class="container my-5">
  <div class="p-5">
    <h3 class="text-danger my-3">Payment History</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="table-bordered">
          <tr>
            <th class="bg-primary-subtle">Date</th>
            <th class="bg-primary-subtle">Amount</th>
            <th class="bg-primary-subtle">Status</th>
          </tr>
        </thead>
        <tbody class="table-bordered">
          <tr *ngFor="let payment of paymentHistory">
            <td>{{ payment.date }}</td>
            <td>{{ payment.amount | currency: 'INR' }}</td>
            <td>{{ payment.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
<!--   
  <div>
    <button class="btn btn-info btn-sm" [routerLink]="['/company-invoice']">Company Invoice Geration</button>
  </div> -->