<div class="dashboard">
    <div class="statistics">
      <div class="stat-item"(click)="setFilterCriteria('Hostel A')" >
        <h3>   </h3>
        <p>Hostel Nio</p>
      </div>
      <div class="stat-item" (click)="setFilterCriteria('Hostel B')">
        <h3></h3>
        <p>Hostel Saturn</p>
      </div>
      <div class="stat-item" (click)="setFilterCriteria('Hostel C')" >
        <h3></h3>
        <p>Hostel Nuance</p>
      </div>
      <div class="stat-item" (click)="setFilterCriteria('Hostel D')" >
        <h3></h3>
        <p>Hostel Chirag</p>
      </div>
    </div>
  
    <div class="recent-members">
      <div class="d-flex justify-content-between align-items-center">
       
        <div class="statistics">
            <div class="stat-item"(click)="setFilterCriteria('Hostel A')" >
              <h3>   </h3>
              <p>Monthly</p>
            </div>
            <div class="stat-item" (click)="setFilterCriteria('Hostel B')">
              <h3></h3>
              <p><div class="stat-item" (click)="setFilterCriteria('Hostel C')">
              <h3></h3>
              <p>Weekly</p>
            </div>
            </div>
            <div class="stat-item" >
              <h3></h3>
              <p>Custom</p>
            </div>
            <div class="stat-item" >
              <h3></h3>
              <p>Corporate</p>
            </div>
            <div class="stat-item" >
                <h3></h3>
                <p>Total</p>
              </div>
          </div>
      </div>
     
    </div>
  </div>
  