<div class="dashboard d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="card shadow w-100 rounded text-center p-5 m-5">
    <h1 class="text-dark mb-0 pb-0">Admin Dashboard</h1>
    <div class="statistics">
      <button class="stat-item" (click)="setFilterCriteria('Hostel A')" tabindex="0" role="button" aria-label="Filter by Hostel A">
        <h3>{{ selectedHostel === 'Hostel A' ? totalCount : '' }}</h3>
        <p>Hostel Nio</p>
      </button>
      <button class="stat-item" (click)="setFilterCriteria('Hostel B')" tabindex="0" role="button" aria-label="Filter by Hostel B">
        <h3>{{ selectedHostel === 'Hostel B' ? totalCount : '' }}</h3>
        <p>Hostel Saturn</p>
      </button>
      <button class="stat-item" (click)="setFilterCriteria('Hostel C')" tabindex="0" role="button" aria-label="Filter by Hostel C">
        <h3>{{ selectedHostel === 'Hostel C' ? totalCount : '' }}</h3>
        <p>Hostel Nuance</p>
      </button>
      <button class="stat-item" (click)="setFilterCriteria('Hostel D')" tabindex="0" role="button" aria-label="Filter by Hostel D">
        <h3>{{ selectedHostel === 'Hostel D' ? totalCount : '' }}</h3>
        <p>Hostel Chirag</p>
      </button>
    </div>

    <div class="statistics">
      <h2>Hostel Data Counts</h2>
      <div class="d-flex justify-content-between align-items-center w-100 p-5">
        <button class="stat-item" (click)="navigateToDashboard('Monthly')" tabindex="0" role="button" aria-label="View Monthly Data">
          <h4>Monthly</h4>
          <p>{{ monthlyData.length }}</p>
        </button>
        <button class="stat-item" (click)="navigateToDashboard('Weekly')" tabindex="0" role="button" aria-label="View Weekly Data">
          <h4>Weekly</h4>
          <p>{{ weeklyData.length }}</p>
        </button>
        <button class="stat-item" (click)="navigateToDashboard('custom')" tabindex="0" role="button" aria-label="View Custom Data">
          <h4>Custom</h4>
          <p>{{ customData.length }}</p>
        </button>
        <button class="stat-item" (click)="navigateToDashboard('corporate')" tabindex="0" role="button" aria-label="View Corporate Data">
          <h4>Corporate</h4>
          <p>{{ corporateData.length }}</p>
        </button>
        <div class="stat-item">
          <h4>Total</h4>
          <p>{{ totalCount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
