<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class=" card shadow border border-2 rounded">
    <h2 class="mb-3">Hostel Room Fee Calculator</h2>
    <div class="mb-3 w-100">
      <label for="sharing" class="form-label">No. of Sharing Members:</label>
      <select id="sharing" class="form-select" [(ngModel)]="selectedSharing" (change)="updateFee()">
        <option *ngFor="let option of sharingOptions" [value]="option">
          {{ option }} {{ option === 1 ? 'Member' : 'Members' }}
        </option>
      </select>
    </div>
    <div class="fee-display text-center mt-5">
      <h3>Fee per Member: <span>{{ fee | currency:'INR' }}</span></h3>
    </div>
  </div>
  </div>
  