<form [formGroup]="employeeSalariesForm" (ngSubmit)="onSubmit()" class="form-table">
  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Payment Date</th>
        <th>Receipt Attached</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td><input id="empName" formControlName="empName" /></td>
        <td><input id="designation" formControlName="designation" /></td>
        <td><input id="salary" type="number" formControlName="salary" /></td>
        <td><input id="paymentDate" type="date" formControlName="paymentDate" /></td>
        <td><input id="receiptAttached" type="file" (change)="onFileChange($event)" /></td>
        <td>
          <button type="button" (click)="addRow()">➕</button>
          <button type="button" (click)="deleteRow(i)">🗑️</button>
      </td>
        
      </tr>
      <tr>
        <button type="submit">Submit</button>
      </tr>
    </tbody>
  </table>
</form>
