.form-table {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-table table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px; /* Adjust this value as needed */
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}

.form-table th, .form-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.form-table th {
  background-color: #5bc0de;
  color: white;
}

.form-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.form-table input[type="text"], .form-table input[type="number"], .form-table input[type="date"], .form-table input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-table input[type="file"] {
  padding: 0;
}

.form-table button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.form-table button:hover {
  background-color: #45a049;
}

.form-table .total-row {
  text-align: right;
}

.form-table .total-row button {
  background-color: #007bff;
  margin: 0;
}

.form-table .total-row button:hover {
  background-color: #0056b3;
}
