<div class="container">
  <div>
    <h2>Querys Complaints</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of dbcomplaints">
          <td>{{ complaint.complaintId }}</td>
          <td>{{ complaint.firstName  }}{{ complaint.lastName  }}  </td>
          <td>{{ complaint.email }}</td>
          <td>{{ complaint.description }}</td>
          <td>{{ complaint.status }}</td>
          <td>
            <button class="btn btn-success m-1" (click)="acceptComplaint(complaint.complaintId)">Accept</button>
            <button class="btn btn-danger m-1" (click)="rejectComplaint(complaint.complaintId)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  