.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1rem;
}

th,
td {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    margin: 0.5rem;
}


@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }

    th,
    td {
        font-size: 0.875rem;
    }

    button {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.25rem;
    }

    th,
    td {
        font-size: 0.75rem;
    }

    button {
        padding: 0.25rem;
        font-size: 0.75rem;
    }
}