.card-header {
  background-color: #004085;
  color: #fff;
}

.bg{
  background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.form label {
  position: relative;
  display: block;
  width: 100%;
}

.form label .input {
  background-color: white;
  color: gray;
  padding: 20px 10px 5px 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  width: 100%;
}

.form label .input+span {
  color: rgba(67, 67, 67, 0.8);
  position: absolute;
  left: 10px;
  top: 12.5px;
  font-size: 15px;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:focus+span,
.form label .input:valid+span {
  color: orange;
  top: 5px;
  font-size: 0.7em;
  font-weight: 600;
}

.animated-image {
  animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@media (max-width: 991.98px) {
  .container {
    flex-direction: column;
  }

  .col-lg-4,
  .col-lg-8 {
    max-width: 100%;
  }

  .form .row .col-md-6 {
    max-width: 100%;
  }

  .form label .input {
    width: 100%;
  }
}