<div class="form">
  <p class="title my-3">Monthly Rent Form</p>

  <!-- Records Table -->
  <table>
    <thead>
      <tr>
        <th>Hostel Name</th>
        <th>Owner Name</th>
        <th>Paid Amount</th>
        <th>Paid Date</th>
        <th>Receipt Attached</th>
        <th>Actions</th>
        <th class="border border-0 bg-transparent "><button type="button" (click)="addRecord()"
            class="bg-transparent"><img src="../../assets/img/icons8-plus-30.png" /></button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records.controls; let i = index" [formGroup]="record">
        <td><input formControlName="hostelName" type="text" required></td>
        <td><input formControlName="ownerName" type="text" required></td>
        <td><input formControlName="paidAmount" type="number" min="0" step="0.01" required></td>
        <td><input formControlName="paidDate" type="date" required></td>
        <td><input formControlName="receipt" type="file"></td>
        <td><button type="button" (click)="deleteRecord(i)" class="bg-transparent"><img
              src="../../assets/img/icons8-delete-30.png" /></button></td>

        <span>
          <td class="border border-0"><button type="button" (click)="addRecord()" class="bg-transparent"><img
                src="../../assets/img/icons8-plus-30.png" /></button></td>
        </span>
      </tr>
    </tbody>
  </table>

  <!-- Total Amount -->
  <div>
    <label>Total Amount</label>
    <input [formControl]="rentForm.get('totalAmount')" type="text" disabled>
  </div>
</div>