.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#hero-video {
  object-fit: cover;
  z-index: -1;
}

.black-overlay {
  background: rgba(0, 0, 0, 0.5);
}

/* Overlay styles */
.overlay {
  max-width: 450px;
  width: 100%;
  position: absolute;
  left: 60%;
  transform: translateY(15%);
  color: white;
  padding: 20px;
}
