<div class="video-container">
  <video
    autoplay
    muted
    loop
    id="hero-video"
    class="w-100 h-100 position-absolute top-50 start-50 translate-middle"
  >
    <source
      src="https://videos.pexels.com/video-files/5138018/5138018-uhd_2732_1440_25fps.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <div
    class="black-overlay position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"
  ></div>
  <div
    class="overlay position-absolute top-50 start-50 translate-middle text-center text-white"
  >
    <app-signup-form></app-signup-form>
  </div>
</div>
