<!-- 
<div class="video-container">
  <video autoplay muted loop id="hero-video" class="w-100 h-100 position-absolute top-50 start-50 translate-middle">
    <source src="../../assets/vid/hero-bg.mp4" type="video/mp4" />
  </video>
  <div class="black-overlay position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
  <div class="overlay">
    <app-signup-form></app-signup-form>
  </div>
</div>
 -->

 <div class="video-container">
  <video autoplay muted loop id="hero-video" class="w-100 h-100 position-absolute top-50 start-50 translate-middle">
    <source src="../../assets/vid/hero-bg.mp4" type="video/mp4" />
  </video>
  <div class="black-overlay position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
  <div class="overlay d-flex align-items-center justify-content-end p-3">
    <app-signup-form class="w-100 h-100"></app-signup-form>
  </div>
</div>

