<!-- <div class="appointment-form">
  <h2>SIGN-UP</h2>
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Name" />
    </div>
    <div class="mb-3">
      <select class="form-control">
        <option>Vishakhapatnam</option>
        <option>City 2</option>
        <option>City 3</option>
      </select>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Mobile Number" />
    </div>
    <button type="submit" class="btn btn-primary">Send OTP</button>
    <button type="submit" class="btn btn-warning">Book An Appointment</button>
  </form>
</div> -->

<form class="form">
  <p class="title mb-0">Join Us Today!</p>
  <p class="message">SignUp now to become a member.</p>
  <label>
    <input class="input" type="text" placeholder="" required="" />
    <span>Full Name (As per Aadhar)</span>
  </label>
  <label>
    <input class="input" type="email" placeholder="" required="" />
    <span>Email</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Password</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Confirm password</span>
  </label>
  <button class="submit mt-2 fw-bold" [routerLink]="['/login-page']">
    SIGN UP
  </button>
  <p class="signin fs-6">
    Already have an acount ?
    <a
      href="#"
      class="text-decoration-none fw-bold fs-6"
      [routerLink]="['/login-page']"
      >Login</a
    >
  </p>
</form>
