<form class="form">
  <p class="title mb-0">Join Us Today!</p>
  <p class="message">SignUp now to become a member.</p>
  <div class="flex">
    <label>
      <input class="input" type="text" placeholder="" required="">
      <span>Firstname</span>
    </label>

    <label>
      <input class="input" type="text" placeholder="" required="">
      <span>Lastname</span>
    </label>
  </div>
  <label>
    <input class="input" type="email" placeholder="" required="" />
    <span>Email</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Password</span>
  </label>
  <label>
    <input class="input" type="password" placeholder="" required="" />
    <span>Confirm password</span>
  </label>
  <button class="submit my-2 fw-bold" [routerLink]="['/login-page']">
    SIGN UP
  </button>
  <p class="signin fs-6">
    Already have an acount ?
    <a href="#" class="text-decoration-none fw-bold fs-6" [routerLink]="['/login-page']">Login</a>
  </p>
</form>