<div class="dashboard d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="w-100">
  <div class="statistics">
    <div class="stat-item" (click)="loadDefaultData()">
      <h3>{{ totalMembersCount }}</h3>
      <p>Hostel Members</p>
    </div>
    <div class="stat-item" (click)="setFilterCriteria('todayDue')">
      <h3>{{ todayFeeDueCount }}</h3>
      <p>Today's Fee Dues</p>
    </div>
    <div class="stat-item" (click)="setFilterCriteria('totalDue')">
      <h3>{{ totalFeeDueCount }}</h3>
      <p>Total Fee Dues</p>
    </div>
  </div>

  <div class="recent-members">
    <div class="d-flex justify-content-between align-items-center">
      <h4>Recent Hostel Members</h4>
      <div class="filter options">
        <label for="status-filter">Status:&nbsp;</label>
        <select id="status-filter" [(ngModel)]="filterStatus" (change)="applyFilters()">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Name</th>
          <th>Mobile No.</th>
          <th>Joining Date</th>
          <th>Paid Amount</th>
          <th>Pending Fee</th>
          <th>Payment ETA</th>
          <th>Payment History</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of filteredMembers">
          <td><input type="checkbox"></td>
          <td>{{ member.firstName + ' ' + member.lastName }}</td>
          <td>{{ member.mobileNumber }}</td>
          <td>{{ member.joiningDate | date }}</td>
          <td>{{ member.paidAmount | currency:'INR' }}</td>
          <td>{{ member.pendingAmount | currency:'INR' }}</td>
          <td *ngIf="editingMemberId !== member.userId">{{ member.paymentETA | date }}</td>
          <td *ngIf="editingMemberId === member.userId">
            <input type="date" [(ngModel)]="member.paymentETA">
          </td>
          <td>
            <button class="btn btn-info btn-sm" [routerLink]="['/payment-history']">Payment History</button>
          </td>
          <td *ngIf="editingMemberId !== member.userId">
            <button class="btn btn-link" (click)="editMember(member)">Edit</button>
          </td>
          <td *ngIf="editingMemberId === member.userId">
            <select [(ngModel)]="member.status">
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
            <button class="btn btn-primary btn-sm" (click)="saveChanges()">Save</button>
            <button class="btn btn-secondary btn-sm" (click)="cancelEdit()">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
