<div class="login-container align-items-center justify-content-center">
  <div class="card">
    <p class="login text-decoration-none mb-0 fs-3">Welcome Back!</p>
    <p class="login-tag text-decoration-none text-dark">Glad to see you again Login to your account below.</p>
    <div class="inputBox">
      <input type="text" required="required">
      <span class="fw-bold">Email</span>
    </div>

    <div class="inputBox">
      <input type="password" required="required">
      <span class="fw-bold">Password</span>
    </div>
   
    <button class="enter fw-bold fs-6 rounded-pill">LOGIN</button>
    <p class="signin fs-6">
      Don't have an acount ?
      <a
        href="#"
        class="text-decoration-none fw-bold fs-6"
        [routerLink]="['/payment-page']"
        >SignUp</a
      >
    </p>
  </div>
</div>