<div class="login-container align-items-center justify-content-center">
  <div class="card">
    <p class="login text-decoration-none mb-0 fs-3">Welcome Back!</p>
    <p class="login-tag text-decoration-none text-dark">Glad to see you again. Login to your account below.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputBox">
        <input type="text" formControlName="email" required="required">
        <span class="fw-bold">Email</span>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
          <p *ngIf="loginForm.get('email')?.errors?.['required']">This field is required.</p>
          <p *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email address.</p>
          <p *ngIf="emailError">{{ emailError }}</p>
        </div>
      </div>

      <div class="inputBox">
        <input type="password" formControlName="password" required="required">
        <span class="fw-bold">Password</span>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
          <p *ngIf="loginForm.get('password')?.errors?.['required']">This field is required.</p>
          <p *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</p>
          <p *ngIf="passwordError">{{ passwordError }}</p>
        </div>
      </div>

      <div class="d-flex flex-column gap-3">
        <app-captcha (captchaValidity)="onCaptchaValidityChange($event)"></app-captcha>
         <div *ngIf="captchaError" class="error-message">
          <p>{{ captchaError }}</p>
        </div>
        <app-math-captcha (mathCaptchaValidity)="onMathCaptchaValidityChange($event)"></app-math-captcha>
       
        <div *ngIf="mathCaptchaError" class="error-message">
          <p>{{ mathCaptchaError }}</p>
        </div>
      </div>

      <button type="submit" class="enter fw-bold fs-6 rounded-pill">LOGIN</button>
    </form>

    <p class="signin fs-6">
      Don't have an account?
      <a href="#" class="text-decoration-none fw-bold fs-6" [routerLink]="['/signup']">SignUp</a>
    </p>
  </div>
</div>
