<div class="login-container align-items-center justify-content-center">
  <div class="card">
    <p class="login text-decoration-none mb-0 fs-3">Welcome Back!</p>
    <p class="login-tag text-decoration-none text-dark">Glad to see you again Login to your account below.</p>
    <div class="radio-buttons-container">
      <div class="radio-button">
        <input name="radio-group" id="radio2" class="radio-button__input" type="radio">
        <label for="radio2" class="radio-button__label">
          <span class="radio-button__custom"></span>Super Admin
        </label>
      </div>
      <div class="radio-button">
        <input name="radio-group" id="radio1" class="radio-button__input" type="radio">
        <label for="radio1" class="radio-button__label">
          <span class="radio-button__custom"></span>Admin
        </label>
      </div>
      <div class="radio-button">
        <input name="radio-group" id="radio3" class="radio-button__input" type="radio">
        <label for="radio3" class="radio-button__label">
          <span class="radio-button__custom"></span>Supervisor
        </label>
      </div>
      <div class="radio-button">
        <input name="radio-group" id="radio3" class="radio-button__input" type="radio">
        <label for="radio3" class="radio-button__label">
          <span class="radio-button__custom"></span>User
        </label>
      </div>
      </div>
    <div class="inputBox">
      <input type="text" required="required">
      <span class="fw-bold">Email</span>
    </div>

    <div class="inputBox">
      <input type="password" required="required">
      <span class="fw-bold">Password</span>
    </div>
   
    <app-captcha></app-captcha>
    
    <button class="enter fw-bold fs-6 rounded-pill">LOGIN</button>
    <p class="signin fs-6">
      Don't have an acount ?
      <a
        href="#"
        class="text-decoration-none fw-bold fs-6"
        [routerLink]="['/payment-page']"
        >SignUp</a
      >
    </p>
  </div>
</div>